<div>
  <div style="font-weight:900; font-size:22px; border-bottom: 1px solid #808080; padding-left: 10px;">
    ORDER DETAILS
  </div>
  <div>
    <div style="float:left;width:300px;">
      <table>
        <tr *ngFor="let order of AllCustomerOrders.orderDetails" style="border-bottom: 2px solid #808080; padding-bottom:5px;">
          <td style="padding-bottom:5px;
">
            <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
              {{order.quantity}} X {{order.name | uppercase }}
            </div>
            <div style="font-weight:500; font-size: 14px; padding-bottom:10px;">
              PRICE: {{order.priceInEuro * order.quantity | currency:'EUR'}} OR
              {{order.priceInEuro * order.quantity * 1.13 | currency:'USD'}}
            </div>
            <form (ngSubmit)="onAddOrder(order)">
              <div style="font-weight:500; font-size: 12px;">
                NUMBER <input name="quantity" type="number" size="4" style="width:50px; padding-right:5px;"
                              title="quantity" [(ngModel)]="order.quantity" min="1" max="500" step="1">
                <button class="btn" type="submit"><i class="fa fa-cart-arrow-down"></i> ADD</button>
                <button class="btn" type="button" (click)="onRemoveOrder(order)" style="color:#7b0808"><i class="fa fa-remove"></i> REMOVE</button>
              </div>
            </form>
          </td>
        </tr>
      </table>
      <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
        Grand Total: {{this.AllCustomerOrders.grandTotal | currency: 'EUR'}}
      </div>
      <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
        Discount: {{this.AllCustomerOrders.discount | currency: 'EUR'}}
      </div>
      <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
        Delievery Charges: {{AllCustomerOrders.delieveryCharges | currency: 'EUR'}}
      </div>
      <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
        Final Amount: {{AllCustomerOrders.finalTotal | currency: 'EUR'}}
      </div>
    </div>
    <div style="float:left; margin-left:20px;">
      <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
        <form (ngSubmit)="onConfirm()">
          <label>CUSTOMER DETAILS</label><br />
          <label for="fname" style="height:10px;">FIRST NAME</label><br>
          <input type="text" id="fname" name="fname"><br>
          <label for="lname" style="height:10px;">LAST NAME</label><br>
          <input type="text" id="lname" name="lname"><br>
          <label for="lname" style="height:10px;">DELIEVERY ADDRESS</label><br>
          <textarea name="address" cols="40" rows="2"></textarea><br />
          <input type="submit" class="btn" value="CONFIRM ORDER">
          <input type="button" (click)="onCancel()" class="btn-danger" style="border-radius:5px;font-size:12px;" value="CANCEL ORDER">
        </form>
      </div>
    </div>
  </div>
</div>
