<div>
  <div style="font-weight:900; font-size:22px; border-bottom: 1px solid #808080; padding-left: 10px;">
    ORDER HISTORY DETAILS
  </div>
  <div>
    <div style="float:left; margin-left:20px; width:300px;">
      <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">
        <form (ngSubmit)="onLogin(event)">
          <label for="fname" style="height:10px;">USER NAME</label><br>
          <input type="text" id="fname" name="username"><br>
          <label for="lname" style="height:10px;">PASSWORD</label><br>
          <input type="password" id="password" name="password"><br>
          <input type="submit" class="btn" value="LOGIN">
        </form>
      </div>
    </div>

    <div style="float:left;width:300px;">
      <label style="height:10px;">ORDER HISTORY</label><br>
      <table>
        <tr *ngFor="let order of orderDetails" style="border-bottom: 2px solid #808080; padding-bottom:5px;">
          <td>
            <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">Date {{order.date}}</div>
            <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">{{order.quantity}} X {{order.pizzaName | uppercase }}</div>
            <div style="font-weight:500; font-size: 14px; padding-bottom:10px;">Paid Amount: {{order.amount | currency:'EUR'}} or {{order.amount | currency:'USD'}} </div>
            <div style="font-weight:700; font-size: 16px; padding-bottom:10px;">Status {{order.status}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
