<div>
  <div class="secondary-header">
    USER'S ORDER HISTORY
  </div>
  <div>
    <div class="form-group login-form">
      <div class="primary-item">
        <form (ngSubmit)="onLogin()">
          <label for="username">USER NAME</label>
          <input class="form-control" [(ngModel)]="userName" type="text" id="username" name="username">
          <label for="password">PASSWORD</label>
          <input class="form-control" type="password" id="password" name="password"><br>
          <input class="btn" [disabled]="userName === ''" type="submit" value="LOGIN">
        </form>
      </div>
    </div>

    <div>
      <label class="lbl-history-order">ORDER HISTORY</label>
      <table>
        <tr *ngFor="let order of orderDetails" class="tr-order-details">
          <td class="td-order-details">
            <div>Date {{order.date}}</div>
            <div>{{order.orderDescription}}</div>
            <div>Paid Amount: {{order.amountPaid | currency:'EUR'}} OR {{order.amountPaid * 1.13 | currency:'USD'}} </div>
            <div>Status: {{order.status}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
