<div class="secondary-div">
  <div class="secondary-header">
    MENU
  </div>
  <table>
    <tr *ngFor="let pizza of Pizzas" class="menu-items">
      <td>
        <img class="pizza-image" src="{{pizza.imageUrl}}" />
      </td>
      <td>
        <div class="primary-item">{{pizza.name | uppercase }}</div>
        <div class="secondary-item">{{pizza.description}}</div>
        <div class="secondary-item"><img src="assets/{{pizza.type}}.png" (load)="this.spinner.hide();">{{pizza.type}}</div>
        <div class="secondary-item">PRICE: {{pizza.priceInEur | currency:'EUR'}} or {{pizza.priceInEur * 1.13 | currency:'USD'}} </div>
        <form (ngSubmit)="onAddPizza(pizza)">
          <div class="secondary-item">
            NUMBER <input name="quantity" type="number" size="4" class="input-cart"
                          title="quantity" [(ngModel)]="pizza.quantity" min="1" max="500" step="1">
            <button class="btn" [disabled]="pizza.quantity < 1" type="submit"><i class="fa fa-cart-arrow-down"></i> ADD</button>
            <button class="btn btn-remove" [disabled]="pizza.quantity < 1" type="button" (click)="onRemovePizza(pizza)"><i class="fa fa-remove"></i> REMOVE</button>
          </div>
        </form>
      </td>
    </tr>
  </table>
</div>
<div class="float-cart-btn">
  <button [routerLink]="'/order-details'" class="btn btn-fixed">
    <i class="fa fa-shopping-cart"></i> ORDER
  </button>
</div>
