.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
